<div>

  <div class="row">
    <div class="col col-md-1">
      <input class="btn btn-primary" type="button" value="Call" (click)="getMedia()" /> <br />
    </div>
    <div class="col col-md-1">
      <input class="btn btn-primary" type="button" value="Play" (click)="playSound()" /> <br />
    </div>
    <div class="col col-md-1">
      <input class="btn btn-primary" type="button" value="Stop" (click)="stopSound()" /> <br />
    </div>

  </div>

  <app-user-list (userSelected)="onUserSelected($event)" [chatNotifications]="chatNotifications">

  </app-user-list>
</div>

<div>
  <app-chat-user-conversation [selectedUser]="selectedUser" [showSelectedUser]="false"
    (chatMessageArrived)="onChatMessageArrived($event)" (chatInputClicked)="onChatWindowClicked($event)">

  </app-chat-user-conversation>

  <audio controls style="display: none;">
    <source src="./../../../assets/pling-sound.mp3" />
  </audio>

  <audio controls autoplay id="live_play" style="display: none;">
    <!-- <source src="" id="live_stream" /> -->
  </audio>
</div>
