<div class="chat-plugin">

  <div style="width: 100%;">
    <app-user-list (userSelected)="onUserSelected($event)" [chatNotifications]="chatNotifications">

    </app-user-list>
  </div>
  <div>

    <app-chat-user-conversation [selectedUser]="selectedUser" [showSelectedUser]="false"
      (chatMessageArrived)="onChatMessageArrived($event)" (chatInputClicked)="onChatWindowClicked($event)">

    </app-chat-user-conversation>

    <audio  src="./../../../assets/pling-sound.mp3">
    </audio>

  </div>

</div>
