<div>

  <div class="row">
    <div class="col">
      <app-chat-window></app-chat-window>
    </div>
  </div>

  <div class="row" style="margin:10px;">
    <div class="col col-md-6">
      <div class="card">
        <img class="card-img-top" src="{{baseUrl}}assets/profile.jpeg" alt="Moniba Shahid">
        <div class="card-body">
          <h5 class="card-title">Welcome to my site</h5>
          <p class="card-text">This is Moniba. I am an energetic baby. I keep my parents busy all day.</p>
        </div>
      </div>
    </div>
  </div>
</div>
